<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('includes/head.ejs') -%>
    </head>

    <body>

        <%- include('includes/header.ejs') -%>

        <div class="inner">

            <h1><%= title %></h1>


            <form action="/festivals/add" method="post">

                <div>
                    <label for="name">Name:</label><br>
                    <input id="name" type="text" name="name" required>
                </div>

                <div>
                    <label for="plaats">Plaats:</label><br>
                    <input id="plaats" type="text" name="plaats" required>
                </div>

                <div>
                    <label for="land">Land:</label><br>
                    <input id="land" type="text" name="land" value="Nederland" required>
                </div>
                
                <div>
                    <label for="year">Wanneer:</label><br>
                    <input id="year" name="year" type="date" value="2023-04-13"
                    min="2018-01-01" max="2023-12-31"> />
                </div>

                <div>
                    <fieldset>
                        <legend>Genres:</legend>
                        <% genres.forEach(function(genre){ %>
                        <input type="checkbox" name="genres" value="<%= genre %>" id="<%= genre %>">
                        <label for="<%= genre %>"><%= genre %></label><br>
                        <% }) %>
                    </fieldset>
                </div>

                <button type="submit">Add</button>
            </form>
        </div>

        <%- include('includes/footer.ejs') -%>

    </body>

</html>