<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('includes/head'); -%>
    </head>

    <body>
        <%- include('includes/header'); -%>

        <div class="inner">

            <main>

                <%- include('includes/genrefilter'); -%>
                <h1><%= title %></h1>

                <% festivals.forEach(function(festival){ %>
                <section>
                    <img src="<%= festival.img %>" alt="Logo">
                    <h2><%= festival.name %></h2>
                    <h3><%= festival.year %></h3>
                    <h4>Genres</h4>
                    <ul>
                        <% if (festival.genres) { %>
                        <% festival.genres.forEach(genre => { %>
                        <li ><%= genre %></li>
                        <% }) %>
                        <% } %>
                    </ul>
                    <h4>Locatie</h4>
                    <div class="locatie">
                        <p><%= festival.land %></p>
                        <p><%= festival.plaats %></p>
                    </div>
                    <p><%= festival.beschrijving %></p>
                    <p><a href="/festivals/<%= festival.id %>/<%= festival.slug %>">More info</a></p>
                    <form action="" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </section>
                <% }) %>

            </main>

        </div>
        <%- include('includes/footer'); -%>
    </body>

</html>